@font-face {
    font-family: latothin;
    src: url('../fonts/LatoLatin-Thin.woff');
}

@font-face {
    font-family: fontawesome;
    src: url('../fonts/FontAwesome.ttf');
}

@font-face {
    font-family: sourcecode;
    src: url('../fonts/open-sans-v15-latin-regular.woff');
}

@font-face {
    font-family: latolight;
    src: url('../fonts/LatoLatin-Light.woff');
}

@font-face {
    font-family: latoregular;
    src: url('../fonts/LatoLatin-Regular.woff');
}



/* ============================== This is for Overall Styling of the Content Gallery. */

.gallery-container
	{
		padding:0px;
		display:block;
		margin-top: 6%;
		width: 1000px;
	}
	.gallery
	{
		width:1000px;
	}

	.slider
	{
		/*overflow:scroll;*/
	}
	.slider ul
	{
		width:100000px;
		list-style:none;
		margin-left:0px;
	}
	.slider li
	{
		float:left;
	}

	.slider-pagi
	{
		width:1000px;
	}

	.pagi-container
	{
		display: inline-block;  
	}

	.pagi-container > ul
	{
		display: inline-block;
		text-align: center;
	}

	.pagi-container > ul li
	{
		list-style:none;
		display:inline-block;
		background: #fff;	
	}

	.pagi-container > ul li:hover
	{
		background: #fff;
		cursor: pointer;
	}

	.pagi-container > ul li a {
	    /*position: relative;*/
	    float: left;
	    padding: 6px 12px;
	    margin-left: -1px;
	    line-height: 1.42857143;
	    color: #23527c;
	    text-decoration: none;
	    background-color: #fff;
	    border: 1px solid #ddd;
	}

	.slides
	{
		width:1000px;
	}

	.slides_content img
	{
		width: 70%;
	}

	.slides_content h3{
		font-size: 16px !important;
	    font-family: latoregular;
	    text-align: left;
	    padding: 0;
	    color: #000;
	    font-weight: 100;
	}

	.slides_content p{
		color: #777;
	}

	.slides_content p.date{
		color: #999999;
		margin: 20px 0;
	}




@media (min-width: 992px) and (max-width: 1199px){

	.gallery-container, .gallery, .slider-pagi, .slides
	{		
		width: 800px;
	}

	.slides_content img
	{
		width: 70%;
	}
}


@media (min-width:768px) and (max-width: 991px)
{
	.gallery-container, .gallery, .slider-pagi, .slides
	{		
		width: 620px;
	}

}


@media (min-width:667px) and (max-width: 767px)
{
	.gallery-container, .gallery, .slider-pagi, .slides
	{		
		width: 607px;
	}

	.slides_content img
	{
		width: 50%;
	}
}


@media (min-width:641px) and (max-width: 666px)
{
	.gallery-container, .gallery, .slider-pagi, .slides
	{		
		width: 666px;
	}

	.slides_content img
	{
		width: 50%;
	}
}


@media (min-width:600px) and (max-width: 640px)
{
	.gallery-container, .gallery, .slider-pagi, .slides
	{		
		width: 540px;
	}

}


@media (min-width:533px) and (max-width: 599px)
{
	.gallery-container, .gallery, .slider-pagi, .slides
	{		
		width: 473px;
	}

}


@media (min-width:401px) and (max-width: 532px)
{
	.gallery-container, .gallery, .slider-pagi, .slides
	{		
		width: 354px;
	}

}

@media (min-width:341px) and (max-width: 400px)
{
	.gallery-container, .gallery, .slider-pagi, .slides
	{		
		width: 300px;
	}

	.slides_content img
	{
		width: 90%;
	}
	.mediaroom-height{
		min-height: 260px;
	}
}

@media screen and (min-width:320px) and (max-width: 340px)
{
	.gallery-container, .gallery, .slider-pagi, .slides
	{		
		width: 260px;
	}
	.slides_content img
	{
		width: 90%;
	}
	.slides_content p{
		text-align: left;
	}
	.mediaroom-height{
		min-height: 260px;
	}
}


@media screen and (min-width:320px) and (max-width: 991px)
{
	.tab-content .row {
	    padding-bottom: 0px;
	}
	.slides_content p.date {
    	margin-bottom: 30px;
	}
}