@font-face {
    font-family: latothin;
    src: url('../fonts/LatoLatin-Thin.woff');
}

@font-face {
    font-family: fontawesome;
    src: url('../fonts/FontAwesome.ttf');
}

@font-face {
    font-family: sourcecode;
    src: url('../fonts/open-sans-v15-latin-regular.woff');
}

@font-face {
    font-family: latolight;
    src: url('../fonts/LatoLatin-Light.woff');
}

@font-face {
    font-family: latoregular;
    src: url('../fonts/LatoLatin-Regular.woff');
}



/* ============================== This is for Overall Styling of the Content Gallery. */
.gallery-container
{
	/*border:2px solid olive;*/
	margin:0 auto;
	padding:0px;
	display:block;
	margin-top: 6%;
}
.gallery
{
	width:100%;
	margin: 0 auto;
	/*background:#999;*/
	/*border:2px solid green;*/
}

.slider
{
	/*overflow:scroll;*/
}
.slider ul
{
	width:100%;
	list-style:none;
	margin-left:0px;
}
.slider li
{
	float:left;
}

/* ============================== This is for Pagination Styling. */
.slider-pagi
{
	/*border:2px solid red;*/
	text-align:center; /* Important : Keeps the Pagination in the center. */
	width:100%;
}

.pagi-container
{
	/*border: 2px solid cyan;*/
	padding: 5px;
	display: inline-block;  
}

.pagi-container > ul
{
	padding:2px;
	/*border:1px solid black;*/
	display: inline-block;
	text-align: center;
}

.pagi-container > ul li
{
	list-style:none;
	padding:0px;
	border:1px solid grey;
	margin: 0px auto;
	display:inline-block;
	background: #fff;	
}

.pagi-container > ul li:hover
{
	background: #fff;
}

.pagi-container > ul li a
{
	display:inline-block;
	text-decoration:none;
	color:rgb(100,100,100);
	cursor: pointer;
	padding: 5px 10px;
}

/* ============================== This is for Styling Each of the Content Slides */
.slides
{
	width:100%;
	/*word-wrap:break-word;  
	background-color:rgb(198,185,221);	*/	
}

.slides_content img
{
	width: 70%;
}

.slides_content h3{
	font-size: 16px !important;
    font-family: latoregular;
    text-align: left;
    padding: 0;
    color: #000;
    font-weight: 100;
}

.slides_content p{
	color: #777;
}

.slides_content p.date{
	color: #999999;
	margin: 20px 0;
}